playbook-Endpoint_Malware_Investigation_-_Generic_V2.yml
contentitemexportablefields:
  contentitemfields:
    fromServerVersion: 6.0.0
    itemVersion: 1.2.9
    packID: Malware
    packPropagationLabels:
    - all
    propagationLabels: []
    toServerVersion: ""
description: "This playbook provides a framework for handling malware investigation
  through all essential steps. The playbook consists of 7 stages. Each stage contains
  the relevant playbook or tasks. \nThis playbook auto extracts indicators from incidents
  using indicator extraction rules of the malware incident type.\nTo use Illusive
  integration in the `Forensics - Generic` playbook,  note that you will be able to
  set the forensic timeline by editing the `Forensics - Generic` playbook inputs.
  \ \n    "
id: Endpoint Malware Investigation - Generic V2
inputs:
- description: |-
    This input determines the threshold severity from which to perform auto-isolation for the infected endpoint.
    Specify the severity number (Default is 3 - High):
    Specify the severity number:
    0 - Unknown
    0.5 - Informational
    1 - Low
    2 - Medium
    3 - High
    4 - Critical
  key: AutoIsolation
  playbookInputQuery: null
  required: false
  value:
    simple: "3"
- description: The email address to send a notification if there is a possibility
    of the malware spreading and infecting other endpoints.
  key: Email
  playbookInputQuery: null
  required: false
  value: {}
- description: The MD5 hash value for the suspicious file.
  key: MD5
  playbookInputQuery: null
  required: false
  value:
    complex:
      accessor: md5
      root: incident
- description: The SHA256 hash value for the suspicious file.
  key: SHA256
  playbookInputQuery: null
  required: false
  value:
    complex:
      accessor: sha256
      root: incident
- description: Hostname of the machine on which the file is located.
  key: Hostname
  playbookInputQuery: null
  required: false
  value:
    complex:
      accessor: hostname
      root: incident
- description: |-
    The path of the file to retrieve.
    For example:
    C:\users\folder\file.txt
  key: FilePath
  playbookInputQuery: null
  required: false
  value:
    complex:
      accessor: Path
      root: File
- description: Specifies whether to use a D2 agent to retrieve the file.
  key: UseD2
  playbookInputQuery: null
  required: false
  value:
    simple: "no"
- description: The SHA1 hash value for the suspicious file.
  key: SHA1
  playbookInputQuery: null
  required: false
  value:
    complex:
      accessor: sha1
      root: incident
- description: |
    Activate Threat Hunting - Generic playbook for automatic hunting.
    Yes- to activate.
  key: ActivateAutomaticHunting
  playbookInputQuery: null
  required: false
  value:
    simple: "no"
- description: |
    Perform manual threat hunting.
    Yes- to activate.
  key: ManualThreatHunting
  playbookInputQuery: null
  required: false
  value:
    simple: "No"
- description: "The value `Yes` will activate the playbook `Forensics - Generic` that
    retrieves additional forensics on the investigating host. \nYes- to activate,"
  key: NeedMoreForensics
  playbookInputQuery: null
  required: false
  value:
    simple: "no"
- description: "This input is relevant if the Threat Hunting - Generic playbook is
    activated. \nIf you activated the Threat Hunting - Generic playbook and you are
    hunting IP addresses, provide the IP addresses here.\n"
  key: IPAddress
  playbookInputQuery: null
  required: false
  value: {}
- description: "This input is relevant if the Threat Hunting - Generic playbook is
    activated. \nIf you activated Threat Hunting - Generic playbook and you are hunting
    for URLs or domains, provide the URLs or domains here."
  key: URLDomain
  playbookInputQuery: null
  required: false
  value: {}
- description: "This input is relevant if the Threat Hunting - Generic playbook is
    activated. \nThe input is a list of internal IP ranges to check IP addresses against.
    The list should be provided in CIDR notation, separated by commas. An example
    of a list of ranges would be: \"172.16.0.0/12,10.0.0.0/8,192.168.0.0/16\" (without
    quotes). If a list is not provided, the playbook will use the default list provided
    in the IsIPInRanges script (the known IPv4 private address ranges)."
  key: InternalRange
  playbookInputQuery: null
  required: false
  value: {}
- description: "This input is relevant if the Threat Hunting - Generic playbook is
    activated. \nThe input is the organization's internal domain name. This is provided
    for the IsInternalHostName script that checks if the detected host names are internal
    or external if the hosts contain the internal domains suffix. For example, demisto.com.
    If there is more than one domain, use the | character to separate values such
    as (demisto.com|test.com)"
  key: InternalDomainName
  playbookInputQuery: null
  required: false
  value: {}
- description: |-
    This input is relevant if the Threat Hunting - Generic playbook is activated.
    This is provided for the IsInternalHostName script that checks if the detected host names are internal or external if the hosts match the organizations naming convention. For example, the host testpc1 will have the following regex \w{6}\d{1}
  key: InternalHostRegex
  playbookInputQuery: null
  required: false
  value: {}
- description: This input is relevant if retrieving the file by EDR. If so, provide
    the relevant Agent_ID\Endpoint id.
  key: Agent_ID
  playbookInputQuery: null
  required: false
  value:
    complex:
      accessor: agentsid
      root: incident
- description: |-
    This input will be used for the `Calculate Severity - Generic v2` playbook.
    Provide your critical users (CSV is optional).
  key: CriticalUsers
  playbookInputQuery: null
  required: false
  value: {}
- description: |-
    This input will be uses for the `Calculate Severity - Generic v2` playbook.
    Provide your critical endpoint hostnames (CSV is optional).
  key: CriticalEndpoints
  playbookInputQuery: null
  required: false
  value: {}
- description: |-
    This input will be uses for the `Calculate Severity - Generic v2` playbook.
    Provide the DN names of your critical AD groups (CSV is optional).
  key: CriticalGroups
  playbookInputQuery: null
  required: false
  value: {}
- description: Providing "Yes" in this playbook input will activated the "Unisolate
    Endpoint - Generic" playbook.
  key: AutoUnIsolation
  playbookInputQuery: null
  required: false
  value:
    simple: "no"
- description: The IP of the endpoint which is involved in the investigation.
  key: Endpoint_ip
  playbookInputQuery: null
  required: false
  value: {}
- description: Providing "Yes" in this playbook input will link the incidents that
    were found similar by DBotFindSimilarIncidents.
  key: LinkSimilarIncidents
  playbookInputQuery: null
  required: false
  value:
    simple: "no"
- description: Providing "Yes" to this input will activate the "Detonate File - Generic".
  key: DetonateFile
  playbookInputQuery: null
  required: false
  value:
    simple: "no"
- description: Providing "Yes" to this input will activate the "Isolate Endpoint Generic
    V2" after the execution of threat hunting procedures.
  key: IsolationAfterHunting
  playbookInputQuery: null
  required: false
  value:
    simple: "no"
name: Endpoint Malware Investigation - Generic V2
outputs: []
starttaskid: "0"
system: true
tasks:
  "0":
    id: "0"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "113"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 485b00ff-6655-4a20-8fd6-f40ce5b43d80
      iscommand: false
      name: ""
      version: -1
    taskid: 485b00ff-6655-4a20-8fd6-f40ce5b43d80
    timertriggers: []
    type: start
    view: |-
      {
        "position": {
          "x": 540,
          "y": -3500
        }
      }
  "5":
    id: "5"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "67"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: f8f052e5-1335-4cf0-8ad1-24fb809b3d63
      iscommand: false
      name: Detonation
      type: title
      version: -1
    taskid: f8f052e5-1335-4cf0-8ad1-24fb809b3d63
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 820,
          "y": -1100
        }
      }
  "6":
    id: "6"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "27"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: a92117d3-1ccf-4dc8-833a-01ac2d172cad
      iscommand: false
      name: File enrichment
      type: title
      version: -1
    taskid: a92117d3-1ccf-4dc8-833a-01ac2d172cad
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 250,
          "y": -1100
        }
      }
  "12":
    id: "12"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "68"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 89dabb98-4cdf-4ea6-87e4-cf5e4c935911
      iscommand: false
      name: Hunting
      type: title
      version: -1
    taskid: 89dabb98-4cdf-4ea6-87e4-cf5e4c935911
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 130,
          "y": 2755
        }
      }
  "15":
    id: "15"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "19"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 8bc813e6-4731-4348-8a93-9ab9de5b28f1
      iscommand: false
      name: Remediation
      type: title
      version: -1
    taskid: 8bc813e6-4731-4348-8a93-9ab9de5b28f1
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 150,
          "y": 5890
        }
      }
  "19":
    id: "19"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      "No":
      - "41"
      "Yes":
      - "115"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: e85c9761-257f-4461-88f7-c094e476abd7
      iscommand: false
      name: Manual - Get analyst approval for auto-remediation
      type: condition
      version: -1
    taskid: e85c9761-257f-4461-88f7-c094e476abd7
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 150,
          "y": 6060
        }
      }
  "20":
    id: "20"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "31"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 7d6c7837-c713-4066-839c-4766a2c9f299
      iscommand: false
      name: Analyst review of the investigation
      type: regular
      version: -1
    taskid: 7d6c7837-c713-4066-839c-4766a2c9f299
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 170,
          "y": 6400
        }
      }
  "21":
    id: "21"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "59"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Unisolate endpoints that were isolated during the investigation
        after remediation.
      id: 72f2ca46-f3c7-48d2-87f2-f9c9989806bb
      iscommand: false
      name: Manual - Unisolate endpoints
      type: regular
      version: -1
    taskid: 72f2ca46-f3c7-48d2-87f2-f9c9989806bb
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -70,
          "y": 7030
        }
      }
  "27":
    id: "27"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 0
      wait: 1
    nexttasks:
      '#none#':
      - "100"
    note: false
    quietmode: 0
    scriptarguments:
      MD5:
        complex:
          root: inputs.MD5
          transformers:
          - operator: uniq
      SHA1:
        complex:
          root: inputs.SHA1
          transformers:
          - operator: uniq
      SHA256:
        complex:
          root: inputs.SHA256
          transformers:
          - operator: uniq
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      description: Enrich a file with threat information using one or more integrations.
      id: 3b6fd717-6d50-4b4a-8edf-99b5e1645a4e
      iscommand: false
      name: File Enrichment - Generic v2
      playbookId: File Enrichment - Generic v2
      type: playbook
      version: -1
    taskid: 3b6fd717-6d50-4b4a-8edf-99b5e1645a4e
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 250,
          "y": -975
        }
      }
  "28":
    id: "28"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "100"
    note: false
    quietmode: 0
    scriptarguments:
      EntryID:
        complex:
          accessor: EntryID
          root: File
      File:
        complex:
          root: File
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      description: Detonate file through active integrations that support file detonation.
      id: c4023b53-3e72-476e-8b5a-6ea3ad6347a3
      iscommand: false
      name: Detonate File - Generic
      playbookId: Detonate File - Generic
      type: playbook
      version: -1
    taskid: c4023b53-3e72-476e-8b5a-6ea3ad6347a3
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 820,
          "y": -110
        }
      }
  "31":
    id: "31"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "99"
    note: false
    quietmode: 0
    scriptarguments:
      incidentId:
        complex:
          accessor: id
          root: incident
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: |-
        A script to generate an automated investigation summary report.
        Can be used in the post-processing flow as well.
      id: 1835892b-d79b-4b3e-83a2-bfc5484db8c6
      iscommand: false
      name: Generate Investigation Summary Report
      script: GenerateInvestigationSummaryReport
      tags:
      - Investigation-Report
      type: regular
      version: -1
    taskid: 1835892b-d79b-4b3e-83a2-bfc5484db8c6
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 170,
          "y": 6560
        }
      }
  "36":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: File
          operator: isExists
      - - left:
            iscontext: true
            value:
              complex:
                accessor: EntryID
                root: File
          operator: isExists
      label: "yes"
    id: "36"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "37"
      "yes":
      - "123"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: b7217208-e1a2-408d-8aee-9513ced4fe4b
      iscommand: false
      name: Was a file retrieved?
      type: condition
      version: -1
    taskid: b7217208-e1a2-408d-8aee-9513ced4fe4b
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 820,
          "y": -800
        }
      }
  "37":
    id: "37"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "123"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 0e2a9053-3524-4d1c-84ae-9740ce6253ca
      iscommand: false
      name: Retrieve file manually
      type: regular
      version: -1
    taskid: 0e2a9053-3524-4d1c-84ae-9740ce6253ca
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1080,
          "y": -620
        }
      }
  "38":
    id: "38"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "39"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Manually hunt for other infected endpoints.
      id: 563f2a69-ede9-4377-8c1b-670ab7606f67
      iscommand: false
      name: Manual - Hunt for other infected endpoints
      type: regular
      version: -1
    taskid: 563f2a69-ede9-4377-8c1b-670ab7606f67
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 0,
          "y": 4030
        }
      }
  "39":
    id: "39"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      "No":
      - "103"
      "Yes":
      - "77"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 3b260fd6-e710-46fd-8c0d-d1bb43f42034
      iscommand: false
      name: Were there any more infected endpoints found?
      type: condition
      version: -1
    taskid: 3b260fd6-e710-46fd-8c0d-d1bb43f42034
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 0,
          "y": 4190
        }
      }
  "41":
    id: "41"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "20"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 288d8749-0469-4dfc-8716-9f2525c77704
      iscommand: false
      name: Analyst manual remediation
      type: regular
      version: -1
    taskid: 288d8749-0469-4dfc-8716-9f2525c77704
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 430,
          "y": 6230
        }
      }
  "44":
    id: "44"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "71"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: c3ffcd70-6430-4587-83c4-829071816ab0
      iscommand: false
      name: Perform manual malware analysis and forensics
      type: regular
      version: -1
    taskid: c3ffcd70-6430-4587-83c4-829071816ab0
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 130,
          "y": 2250
        }
      }
  "45":
    id: "45"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "74"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 21220e7b-dcd9-453c-8760-ec6ad2609160
      iscommand: false
      name: False Positive
      type: title
      version: -1
    taskid: 21220e7b-dcd9-453c-8760-ec6ad2609160
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": -920,
          "y": 1620
        }
      }
  "46":
    id: "46"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      "No":
      - "98"
      "Yes":
      - "95"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: d542dd80-062d-4e32-8d87-221cc6793aba
      iscommand: false
      name: Get analyst approval for local containment
      type: condition
      version: -1
    taskid: d542dd80-062d-4e32-8d87-221cc6793aba
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 130,
          "y": 1590
        }
      }
  "50":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                filters:
                - - left:
                      iscontext: true
                      value:
                        simple: inputs.AutoIsolation
                    operator: lessThanOrEqual
                    right:
                      iscontext: true
                      value:
                        simple: incident.severity
                root: inputs.AutoIsolation
          operator: isExists
      label: "yes"
    id: "50"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "46"
      "yes":
      - "95"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 8cef4a7e-9abd-4e7a-8747-950ff1363fdd
      iscommand: false
      name: Auto-Isolation?
      type: condition
      version: -1
    taskid: 8cef4a7e-9abd-4e7a-8747-950ff1363fdd
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 460,
          "y": 1375
        }
      }
  "51":
    id: "51"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      Continue Investigation:
      - "50"
      False positive:
      - "45"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 1c9be3c2-d4ee-49d0-8d34-97407fb0fbdd
      iscommand: false
      name: Continue with the investigation or close as false positive?
      type: condition
      version: -1
    taskid: 1c9be3c2-d4ee-49d0-8d34-97407fb0fbdd
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 460,
          "y": 1080
        }
      }
  "52":
    id: "52"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "73"
    note: false
    quietmode: 0
    scriptarguments:
      Account:
        complex:
          root: Account
          transformers:
          - operator: uniq
      CriticalEndpoints:
        complex:
          root: inputs.CriticalEndpoints
          transformers:
          - operator: uniq
      CriticalGroups:
        complex:
          root: inputs.CriticalGroups
          transformers:
          - operator: uniq
      CriticalUsers:
        complex:
          root: inputs.CriticalUsers
          transformers:
          - operator: uniq
      DBotScore:
        complex:
          root: DBotScore
      EmailAuthenticityCheck:
        complex:
          accessor: AuthenticityCheck
          root: Email
          transformers:
          - operator: uniq
      Endpoint:
        complex:
          accessor: Hostname
          root: incident
          transformers:
          - operator: uniq
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      description: |-
        Calculate and assign the incident severity based on the highest returned severity level from the following calculations:

        - DBotScores of indicators
        - Critical assets
        - Email authenticity
        - Current incident severity
      id: b30ca805-ba77-423c-83e5-fde1a463ab57
      iscommand: false
      name: Calculate Severity - Generic v2
      playbookId: Calculate Severity - Generic v2
      type: playbook
      version: -1
    taskid: b30ca805-ba77-423c-83e5-fde1a463ab57
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 460,
          "y": 540
        }
      }
  "55":
    id: "55"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "66"
    note: false
    quietmode: 0
    scriptarguments:
      body:
        simple: |-
          During an endpoint malware investigation in Cortex XSOAR, other infected endpoints were found, which can possibly indicate the malware is spreading in your organization and requires your attention.
          To get more information, go to this incident in Cortex XSOAR: ${incident.id}
      subject:
        simple: Potential malware spreading in your organization
      to:
        complex:
          root: inputs.Email
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Send an email
      id: fd751354-1d35-44ad-81dd-2ec7ac0b4cdf
      iscommand: true
      name: Notify that more infected endpoints were found
      script: '|||send-mail'
      type: regular
      version: -1
    taskid: fd751354-1d35-44ad-81dd-2ec7ac0b4cdf
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 790,
          "y": 4890
        }
      }
  "56":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                root: inputs.Email
          operator: isNotEmpty
      label: "yes"
    id: "56"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "66"
      "yes":
      - "55"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: fb27ac98-1e3e-4ce6-8c4d-d6d7cb9a5b12
      iscommand: false
      name: Send notification regarding infected endpoints?
      type: condition
      version: -1
    taskid: fb27ac98-1e3e-4ce6-8c4d-d6d7cb9a5b12
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 460,
          "y": 4710
        }
      }
  "57":
    id: "57"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: af45ad3a-c7df-46a6-8b71-eb7c691a9a94
      iscommand: false
      name: Done
      type: title
      version: -1
    taskid: af45ad3a-c7df-46a6-8b71-eb7c691a9a94
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": -920,
          "y": 7830
        }
      }
  "58":
    id: "58"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "57"
    note: false
    quietmode: 0
    scriptarguments:
      closeReason:
        simple: ${Closing reason.Answers.0}
      id:
        complex:
          accessor: id
          root: incident
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.close.inv
      id: d9744de4-ba1e-4e5c-8aca-41b154eaffee
      iscommand: true
      name: Close Investigation
      script: Builtin|||closeInvestigation
      type: regular
      version: -1
    taskid: d9744de4-ba1e-4e5c-8aca-41b154eaffee
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -490,
          "y": 7610
        }
      }
  "59":
    id: "59"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "121"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Close the incident in the source product that triggered it.
      id: a82031e5-2b56-4734-815a-4ec30ac09b52
      iscommand: false
      name: Manual - Close incident in the source product
      type: regular
      version: -1
    taskid: a82031e5-2b56-4734-815a-4ec30ac09b52
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -490,
          "y": 7280
        }
      }
  "61":
    id: "61"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "98"
    note: false
    quietmode: 0
    scriptarguments:
      isolated:
        simple: Endpoint was isolated successfully.
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: Change the properties of an incident
      id: 4e2224f0-7a53-40b6-8d37-85a36e2929a5
      iscommand: true
      name: Set incident - Isolated field
      script: Builtin|||setIncident
      type: regular
      version: -1
    taskid: 4e2224f0-7a53-40b6-8d37-85a36e2929a5
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 460,
          "y": 1940
        }
      }
  "66":
    id: "66"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "124"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 5ced3ed5-4b18-4424-8392-48fa126a1fea
      iscommand: false
      name: Isolate infected endpoints
      type: title
      version: -1
    taskid: 5ced3ed5-4b18-4424-8392-48fa126a1fea
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 460,
          "y": 5060
        }
      }
  "67":
    id: "67"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "36"
    note: false
    quietmode: 0
    scriptarguments:
      Agent_ID:
        simple: ${Endpoint.ID}
      Hostname:
        simple: ${Endpoint.Hostname}
      MD5:
        simple: ${inputs.MD5}
      Path:
        simple: ${inputs.FilePath}
      SHA256:
        simple: ${inputs.SHA256}
      UseD2:
        simple: ${inputs.UseD2}
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      description: |-
        'This playbook retrieves a file sample from an endpoint using the following playbooks:'
        - Get File Sample From Path - Generic v2.
        - Get File Sample By Hash - Generic v3.
      id: 2e3c829f-93e0-4c9e-8fb3-747380c0a661
      iscommand: false
      name: Retrieve File from Endpoint - Generic V2
      playbookId: Retrieve File from Endpoint - Generic V2
      type: playbook
      version: -1
    taskid: 2e3c829f-93e0-4c9e-8fb3-747380c0a661
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 820,
          "y": -975
        }
      }
  "68":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: inputs.ActivateAutomaticHunting
          operator: isEqualString
          right:
            value:
              simple: "Yes"
      label: "yes"
    id: "68"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "38"
      "yes":
      - "69"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 83760aac-4630-466f-811f-c4b02eca45c3
      iscommand: false
      name: Activate automatic hunting
      type: condition
      version: -1
    taskid: 83760aac-4630-466f-811f-c4b02eca45c3
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 130,
          "y": 2890
        }
      }
  "69":
    id: "69"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "101"
    note: false
    quietmode: 0
    scriptarguments:
      Hostname:
        simple: ${Endpoint.Hostname}
      InternalDomainName:
        simple: ${inputs.InternalDomainName}
      InternalHostRegex:
        simple: ${inputs.InternalHostRegex}
      InternalRange:
        simple: ${inputs.InternalRange}
      MD5:
        simple: ${inputs.MD5}
      SHA1:
        simple: ${inputs.SHA1}
      SHA256:
        simple: ${inputs.SHA256}
      URLDomain:
        simple: ${inputs.URLDomain}
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      description: "This playbook enables threat hunting for IOCs in your enterprise.\nThis
        playbook currently supports the following integrations:\n- Splunk\n- Qradar\n-
        Pan-os\n- Cortex data lake \n- Autofocus"
      id: f1fdcc0f-ee49-45ea-8a4e-e82b4a62b7b4
      iscommand: false
      name: Threat Hunting - Generic
      playbookId: Threat Hunting - Generic
      type: playbook
      version: -1
    taskid: f1fdcc0f-ee49-45ea-8a4e-e82b4a62b7b4
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 460,
          "y": 3070
        }
      }
  "70":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: inputs.ManualThreatHunting
          operator: isEqualString
          right:
            value:
              simple: "Yes"
      label: "yes"
    id: "70"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "56"
      "yes":
      - "38"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: d07fef12-0b92-4959-87d3-43648ac57c8e
      iscommand: false
      name: Continue to manual threat hunting?
      type: condition
      version: -1
    taskid: d07fef12-0b92-4959-87d3-43648ac57c8e
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 460,
          "y": 3845
        }
      }
  "71":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: inputs.NeedMoreForensics
          operator: isEqualString
          right:
            value:
              simple: "Yes"
      label: "yes"
    id: "71"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "12"
      "yes":
      - "76"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 549abbea-da01-4862-827e-685e1fdac35a
      iscommand: false
      name: Need more forensics?
      type: condition
      version: -1
    taskid: 549abbea-da01-4862-827e-685e1fdac35a
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 130,
          "y": 2410
        }
      }
  "73":
    id: "73"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "97"
    note: false
    quietmode: 0
    scriptarguments:
      onCall:
        simple: "true"
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: |-
        Assign analyst to incident.
        By default, the analyst is picked randomly from the available users, according to the provided roles. (If no roles are provided, will fetch all users).
        Otherwise, the analyst will be picked according to the 'assignBy' arguments.
        machine-learning: DBot will calculate and decide who is the best analyst for the job.
        top-user: The user who most commonly owns this type of incident.
        less-busy-user: The less busy analyst will be picked to be the incident owner.
        online: The analyst is picked randomly from all online analysts, according to the provided roles. (If no roles provided, will fetch all users).
        current: The user who executed the command.
      id: 07fc2eec-1d8c-4e2f-8f35-3ad5e146e450
      iscommand: false
      name: Assign incident to analyst
      script: AssignAnalystToIncident
      type: regular
      version: -1
    taskid: 07fc2eec-1d8c-4e2f-8f35-3ad5e146e450
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 460,
          "y": 730
        }
      }
  "74":
    id: "74"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "120"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 6b1ed7a5-6962-48b4-8321-fab175608efd
      iscommand: false
      name: Whitelist the file that caused the FP in the source product
      type: regular
      version: -1
    taskid: 6b1ed7a5-6962-48b4-8321-fab175608efd
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -920,
          "y": 2250
        }
      }
  "76":
    id: "76"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "12"
    note: false
    quietmode: 0
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      description: "This playbook retrieves forensics from hosts.\nThe available integration
        is Illusive networks. "
      id: 6704e686-910d-4005-8fcd-fc3e2929231b
      iscommand: false
      name: Get host forensics - Generic
      playbookId: Get host forensics - Generic
      type: playbook
      version: -1
    taskid: 6704e686-910d-4005-8fcd-fc3e2929231b
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 480,
          "y": 2580
        }
      }
  "77":
    id: "77"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "78"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 06fe346a-d3b6-449f-82b5-9ef4f6ca4239
      iscommand: false
      name: Manually list detected hostnames
      type: regular
      version: -1
    taskid: 06fe346a-d3b6-449f-82b5-9ef4f6ca4239
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 0,
          "y": 4380
        }
      }
  "78":
    id: "78"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "56"
    note: false
    quietmode: 0
    scriptarguments:
      contextKey:
        simple: Threat.Hunting.Detected.Hostsname
      entryId:
        simple: ${lastCompletedTaskEntries.[0]}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: "Takes the comments of a given entry ID and stores them in the
        incident context, under a provided context key. \nFor accessing the last executed
        task's comments, provide ${lastCompletedTaskEntries.[0]} as the value for
        the entryId input parameter."
      id: ea42e90d-fec2-4b69-8a13-0077468fb4b3
      iscommand: false
      name: Set manual host names
      script: commentsToContext
      type: regular
      version: -1
    taskid: ea42e90d-fec2-4b69-8a13-0077468fb4b3
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 0,
          "y": 4535
        }
      }
  "79":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: inputs.AutoUnIsolation
          operator: isEqualString
          right:
            value:
              simple: "Yes"
      label: "yes"
    id: "79"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "21"
      "yes":
      - "80"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: a7746804-981e-4c05-8774-0c5f875d1c6c
      iscommand: false
      name: Activated auto unisolation
      type: condition
      version: -1
    taskid: a7746804-981e-4c05-8774-0c5f875d1c6c
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 170,
          "y": 6840
        }
      }
  "80":
    id: "80"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "59"
    note: false
    quietmode: 0
    scriptarguments:
      Endpoint_ID:
        simple: ${Endpoint.ID}
      Hostname:
        complex:
          accessor: Hostname
          root: Endpoint
          transformers:
          - args:
              item:
                value:
                  simple: Threat.Hunting.Detected.Hostsname
            operator: append
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      description: "This playbook unisolates endpoints according to the endpoint ID
        or hostname that is provided in the playbook.\nCurrently supports the following
        integrations:\n- Carbon Black Response\n- Cortex XDR\n- Crowdstrike Falcon\n-
        FireEye HX \n- Cybereason\n"
      id: b1d58da6-a889-4062-80fc-8e998860df0c
      iscommand: false
      name: Unisolate Endpoint - Generic
      playbookId: Unisolate Endpoint - Generic
      type: playbook
      version: -1
    taskid: b1d58da6-a889-4062-80fc-8e998860df0c
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 410,
          "y": 7020
        }
      }
  "81":
    id: "81"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "110"
    note: false
    quietmode: 0
    scriptarguments:
      Endpoint_hostname:
        simple: ${inputs.Hostname}
      Endpoint_id:
        simple: ${inputs.Agent_ID}
      Endpoint_ip:
        simple: ${inputs.Endpoint_ip}
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      description: "This playbook uses the generic command !endpoint to retrieve details
        on specific endpoint.\nThis command currently supports the following integrations:\n-
        Palo Alto Networks Cortex XDR - Investigation and Response.\n- CrowdStrike
        Falcon. "
      id: 122048b5-cb07-421b-8b93-0c75fd6a86d4
      iscommand: false
      name: Get endpoint details - Generic
      playbookId: Get endpoint details - Generic
      type: playbook
      version: -1
    taskid: 122048b5-cb07-421b-8b93-0c75fd6a86d4
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 540,
          "y": -2050
        }
      }
  "94":
    id: "94"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "15"
    note: false
    quietmode: 0
    scriptarguments:
      Endpoint_hostname:
        simple: ${Threat.Hunting.Detected.Hostsname}
      Endpoint_id:
        simple: ${Endpoint.ID}
      Endpoint_ip:
        simple: ${Threat.Hunting.Detected.IP}
      ManualHunting.DetectedHosts:
        simple: ${ManualHunting.DetectedHosts}
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      description: |-
        This playbook isolates a given endpoint via various endpoint product integrations.
        Make sure to provide the valid playbook input for the integration that you are using.
      id: 5b366968-6c3f-41da-8f2b-0f36661f6d90
      iscommand: false
      name: Isolate Endpoint - Generic V2
      playbookId: Isolate Endpoint - Generic V2
      type: playbook
      version: -1
    taskid: 5b366968-6c3f-41da-8f2b-0f36661f6d90
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 460,
          "y": 5700
        }
      }
  "95":
    id: "95"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "61"
    note: false
    quietmode: 0
    scriptarguments:
      Endpoint_hostname:
        simple: ${Endpoint.Hostname}
      Endpoint_id:
        simple: ${Endpoint.ID}
      Endpoint_ip:
        simple: ${Endpoint.IPAddress}
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      description: |-
        This playbook isolates a given endpoint via various endpoint product integrations.
        Make sure to provide the valid playbook input for the integration that you are using.
      id: 2bfa3d6a-ffab-47d5-8cd0-c371ecee2891
      iscommand: false
      name: Isolate Endpoint - Generic V2
      playbookId: Isolate Endpoint - Generic V2
      type: playbook
      version: -1
    taskid: 2bfa3d6a-ffab-47d5-8cd0-c371ecee2891
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 460,
          "y": 1770
        }
      }
  "97":
    id: "97"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "51"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 65195858-cda7-49a5-8a03-adce259b700c
      iscommand: false
      name: Isolation
      type: title
      version: -1
    taskid: 65195858-cda7-49a5-8a03-adce259b700c
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 460,
          "y": 920
        }
      }
  "98":
    id: "98"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "44"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 9f4826e1-bb1e-4281-8f05-bc4cf3c0b544
      iscommand: false
      name: Forensics
      type: title
      version: -1
    taskid: 9f4826e1-bb1e-4281-8f05-bc4cf3c0b544
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 130,
          "y": 2130
        }
      }
  "99":
    id: "99"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "79"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: a9632b1b-ba2d-4160-85a3-635c6dc030f9
      iscommand: false
      name: Unisolation
      type: title
      version: -1
    taskid: a9632b1b-ba2d-4160-85a3-635c6dc030f9
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 170,
          "y": 6720
        }
      }
  "100":
    id: "100"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "52"
    note: false
    quietmode: 0
    scriptarguments:
      key:
        simple: Account.Username
      value:
        complex:
          accessor: user
          root: incident
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: f6049943-64f7-4ed7-8ecc-1482f2665271
      iscommand: false
      name: Set user as account
      script: Set
      type: regular
      version: -1
    taskid: f6049943-64f7-4ed7-8ecc-1482f2665271
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 460,
          "y": 350
        }
      }
  "101":
    fieldMapping:
    - incidentfield: Hostnames
      output:
        simple: ${Threat.Hunting.Detected.Hostsname}
    id: "101"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "102"
    note: false
    quietmode: 0
    scriptarguments:
      append:
        simple: "true"
      key:
        simple: Threat.Hunting.Detected.Hostsname
      value:
        complex:
          accessor: DetectedInternalHosts
          root: QRadar
          transformers:
          - args:
              item:
                iscontext: true
                value:
                  simple: PANWHunting.DetectedInternalHosts
            operator: append
          - args:
              item:
                iscontext: true
                value:
                  simple: Splunk.DetectedInternalHosts
            operator: append
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered. If no value is
        entered, the script doesn't do anything.
      id: 63bffacd-4fad-4dff-8707-60fb67124a22
      iscommand: false
      name: Set detected hostnames to context
      script: SetAndHandleEmpty
      type: regular
      version: -1
    taskid: 63bffacd-4fad-4dff-8707-60fb67124a22
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 460,
          "y": 3250
        }
      }
  "102":
    fieldMapping:
    - incidentfield: Detected IPs
      output:
        simple: ${Threat.Hunting.Detected.IP}
    id: "102"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "122"
    note: false
    quietmode: 0
    scriptarguments:
      append:
        simple: "true"
      key:
        simple: Threat.Hunting.Detected.IP
      value:
        complex:
          accessor: DetectedInternalIPs
          root: Splunk
          transformers:
          - args:
              item:
                iscontext: true
                value:
                  simple: PANWHunting.DetectedInternalIPs
            operator: append
          - args:
              item:
                iscontext: true
                value:
                  simple: QRadar.DetectedInternalIPs
            operator: append
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered. If no value is
        entered, the script doesn't do anything.
      id: 19d297a9-8ff3-4252-8a43-2756cf9f44c1
      iscommand: false
      name: Set detected IP's to context
      script: SetAndHandleEmpty
      type: regular
      version: -1
    taskid: 19d297a9-8ff3-4252-8a43-2756cf9f44c1
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 460,
          "y": 3430
        }
      }
  "103":
    id: "103"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "15"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: c6f1bd08-d81a-4222-860e-cb714022a44b
      iscommand: false
      name: No results for manual TH
      type: title
      version: -1
    taskid: c6f1bd08-d81a-4222-860e-cb714022a44b
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": -210,
          "y": 5050
        }
      }
  "104":
    id: "104"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "94"
    note: false
    quietmode: 0
    scriptarguments:
      Endpoint_hostname:
        simple: ${Threat.Hunting.Detected.Hostsname}
      Endpoint_id:
        simple: ${EndpointDetails.ID}
      Endpoint_ip:
        simple: ${Threat.Hunting.Detected.IP}
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      description: "This playbook uses the generic command !endpoint to retrieve details
        on specific endpoint.\nThis command currently supports the following integrations:\n-
        Palo Alto Networks Cortex XDR - Investigation and Response.\n- CrowdStrike
        Falcon. "
      id: 478fa066-5a55-486d-87a7-2d31961b60e2
      iscommand: false
      name: Get endpoint details - Generic
      playbookId: Get endpoint details - Generic
      type: playbook
      version: -1
    taskid: 478fa066-5a55-486d-87a7-2d31961b60e2
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 460,
          "y": 5520
        }
      }
  "107":
    id: "107"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "5"
      - "6"
    note: false
    quietmode: 0
    scriptarguments:
      columns:
        simple: Endpoint Hostname,Endpoint ID,Endpoint IP Address,Endpoint Is Isolated,Endpoint
          MAC Address,Endpoint OS,Endpoint Vendor
      context_path:
        simple: Endpoint
      grid_id:
        simple: endpoint
      keys:
        simple: Hostname,ID,IPAddress,IsIsolated,MACAddress,OS,Vendor
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Creates a grid table from items or key-value pairs.
      id: 09e75f8e-430e-40ab-8de8-cf5ed3645672
      iscommand: false
      name: Set endpoint details to layout
      script: SetGridField
      type: regular
      version: -1
    taskid: 09e75f8e-430e-40ab-8de8-cf5ed3645672
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 540,
          "y": -1490
        }
      }
  "110":
    id: "110"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "107"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 3f059079-d592-4c3a-8b4c-98e426a69af4
      iscommand: false
      name: Set to layout
      type: title
      version: -1
    taskid: 3f059079-d592-4c3a-8b4c-98e426a69af4
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 540,
          "y": -1770
        }
      }
  "111":
    id: "111"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "116"
    note: false
    quietmode: 0
    scriptarguments:
      fieldExactMatch:
        simple: incident.type
      similarTextField:
        simple: incident.parentcmdline,incident.filepaths,incident.cmd
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Find past similar incidents based on incident fields' similarity.
        Includes an option to also display indicators' similarity.
      id: 9d2e3543-d680-4d63-8197-19cfbe21b96f
      iscommand: false
      name: Find similar incidents
      script: DBotFindSimilarIncidents
      type: regular
      version: -1
    taskid: 9d2e3543-d680-4d63-8197-19cfbe21b96f
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 540,
          "y": -3215
        }
      }
  "112":
    id: "112"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "118"
    note: false
    quietmode: 0
    scriptarguments:
      columns:
        simple: Incident Id,Created,Name,Similarity Incident,Parent CMD line,File
          path,Command line
      context_path:
        simple: DBotFindSimilarIncidents.similarIncident(val.id='#/Details/'+val.id,val.parentcmdline=val.parentcmdline.join(','),val.filepaths=val.filepaths.join(','),val.cmd=val.cmd.join(','))
      grid_id:
        simple: similarincidentsdbot
      keys:
        simple: id,created,name,similarity incident,parentcmdline,filepaths,cmd
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Creates a grid table from items or key-value pairs.
      id: 8a1995dc-d825-4883-8165-2761d5ea6e06
      iscommand: false
      name: Set similar incidents to layout
      script: SetGridField
      type: regular
      version: -1
    taskid: 8a1995dc-d825-4883-8165-2761d5ea6e06
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1030,
          "y": -2870
        }
      }
  "113":
    id: "113"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "111"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: c4cd9f90-4c84-4dc5-8ea5-721f7e89809d
      iscommand: false
      name: Find similar incidents
      type: title
      version: -1
    taskid: c4cd9f90-4c84-4dc5-8ea5-721f7e89809d
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 540,
          "y": -3355
        }
      }
  "114":
    id: "114"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "81"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 0324ff91-6553-42ec-8f3d-e0b790194083
      iscommand: false
      name: Get endpoint details
      type: title
      version: -1
    taskid: 0324ff91-6553-42ec-8f3d-e0b790194083
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 540,
          "y": -2240
        }
      }
  "115":
    id: "115"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "20"
    note: false
    quietmode: 0
    scriptarguments:
      AutoCommit:
        simple: "No"
      CustomBlockRule:
        simple: "True"
      CustomURLCategory:
        simple: Demisto Remediation - Malicious URLs
      IP:
        complex:
          accessor: Indicator
          filters:
          - - ignorecase: true
              left:
                iscontext: true
                value:
                  simple: DBotScore.Type
              operator: isEqualString
              right:
                value:
                  simple: ip
          - - left:
                iscontext: true
                value:
                  simple: DBotScore.Score
              operator: greaterThanOrEqual
              right:
                value:
                  simple: "3"
          root: DBotScore
          transformers:
          - operator: uniq
      MD5:
        complex:
          accessor: MD5
          root: File
      SHA256:
        complex:
          accessor: SHA256
          root: File
      URL:
        complex:
          accessor: Indicator
          filters:
          - - ignorecase: true
              left:
                iscontext: true
                value:
                  simple: DBotScore.Type
              operator: isEqualString
              right:
                value:
                  simple: url
          - - left:
                iscontext: true
                value:
                  simple: DBotScore.Score
              operator: greaterThanOrEqual
              right:
                value:
                  simple: "3"
          root: DBotScore
          transformers:
          - operator: uniq
      URLListName:
        simple: Demisto Remediation - URL EDL
      Username:
        complex:
          accessor: Indicator
          filters:
          - - ignorecase: true
              left:
                iscontext: true
                value:
                  simple: DBotScore.Type
              operator: isEqualString
              right:
                value:
                  simple: username
          - - left:
                iscontext: true
                value:
                  simple: DBotScore.Score
              operator: greaterThanOrEqual
              right:
                value:
                  simple: "3"
          root: DBotScore
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      description: |+
        This playbook blocks malicious indicators using all integrations that are enabled, using the following sub-playbooks:

        - Block URL - Generic
        - Block Account - Generic
        - Block IP - Generic v2
        - Block File - Generic v2

      id: 62332f81-4ae9-49b8-8818-eba4057c9ce4
      iscommand: false
      name: Block Indicators - Generic v2
      playbookId: Block Indicators - Generic v2
      type: playbook
      version: -1
    taskid: 62332f81-4ae9-49b8-8818-eba4057c9ce4
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": -90,
          "y": 6230
        }
      }
  "116":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: DBotFindSimilarIncidents.similarIncident
          operator: isNotEmpty
      label: "yes"
    id: "116"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "114"
      "yes":
      - "112"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 5a85becb-da36-49e7-842b-6abb8d61c9de
      iscommand: false
      name: Are there similar incidents?
      type: condition
      version: -1
    taskid: 5a85becb-da36-49e7-842b-6abb8d61c9de
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 540,
          "y": -3040
        }
      }
  "117":
    id: "117"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "114"
    note: false
    quietmode: 0
    scriptarguments:
      incidentId:
        complex:
          accessor: id
          root: incident
      linkedIncidentIDs:
        simple: ${DBotFindSimilarIncidents.similarIncident.id}
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.linkIncidents
      id: 11e02f7d-a353-40ca-849c-ef049e9a30cc
      iscommand: true
      name: Link similar incidents
      script: Builtin|||linkIncidents
      type: regular
      version: -1
    taskid: 11e02f7d-a353-40ca-849c-ef049e9a30cc
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1030,
          "y": -2470
        }
      }
  "118":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: inputs.LinkSimilarIncidents
          operator: isEqualString
          right:
            value:
              simple: "Yes"
      label: "yes"
    id: "118"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "114"
      "yes":
      - "117"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 4763309c-9837-47ea-81d8-ac173f56340d
      iscommand: false
      name: Link the similar events?
      type: condition
      version: -1
    taskid: 4763309c-9837-47ea-81d8-ac173f56340d
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 1030,
          "y": -2700
        }
      }
  "119":
    id: "119"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "57"
    note: false
    quietmode: 0
    scriptarguments:
      closeReason:
        simple: False Positive
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.close.inv
      id: f84ac8ad-8740-452a-81c4-22ea4a65016d
      iscommand: true
      name: Close investigation as false positive
      script: Builtin|||closeInvestigation
      type: regular
      version: -1
    taskid: f84ac8ad-8740-452a-81c4-22ea4a65016d
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -920,
          "y": 7610
        }
      }
  "120":
    id: "120"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "119"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Close the incident in the source product that triggered it.
      id: ea085a30-12b8-4192-835a-1071bc264e12
      iscommand: false
      name: Manual - Close incident in the source product
      type: regular
      version: -1
    taskid: ea085a30-12b8-4192-835a-1071bc264e12
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -920,
          "y": 2410
        }
      }
  "121":
    form:
      description: ""
      expired: false
      questions:
      - defaultrows: []
        fieldassociated: ""
        gridcolumns: []
        id: "0"
        label: ""
        labelarg:
          simple: Specify the closing reason
        options: []
        optionsarg: []
        placeholder: ""
        readonly: false
        required: false
        tooltip: ""
        type: shortText
      sender: ""
      title: Closing reason
      totalanswers: 0
    id: "121"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    message:
      bcc: null
      body: {}
      cc: null
      format: ""
      methods: []
      subject: null
      timings:
        completeafterreplies: 1
        retriescount: 2
        retriesinterval: 360
      to: null
    nexttasks:
      '#none#':
      - "58"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 7f0b9ed0-3633-45e3-89cd-9ee6e34492f5
      iscommand: false
      name: Closing reason
      type: collection
      version: -1
    taskid: 7f0b9ed0-3633-45e3-89cd-9ee6e34492f5
    timertriggers: []
    type: collection
    view: |-
      {
        "position": {
          "x": -490,
          "y": 7450
        }
      }
  "122":
    fieldMapping:
    - incidentfield: Detected User
      output:
        simple: ${Threat.Hunting.Detected.Users}
    id: "122"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "70"
    note: false
    quietmode: 0
    scriptarguments:
      append:
        simple: "true"
      key:
        simple: Threat.Hunting.Detected.Users
      value:
        complex:
          accessor: DetectedUsers
          root: Splunk
          transformers:
          - args:
              item:
                iscontext: true
                value:
                  simple: PANWHunting.DetectedUsers
            operator: append
          - args:
              item:
                iscontext: true
                value:
                  simple: QRadar.DetectedUsers
            operator: append
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered. If no value is
        entered, the script doesn't do anything.
      id: 950c2191-c2b2-4331-800c-eb52102b8e07
      iscommand: false
      name: Set detected users to to context
      script: SetAndHandleEmpty
      type: regular
      version: -1
    taskid: 950c2191-c2b2-4331-800c-eb52102b8e07
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 460,
          "y": 3630
        }
      }
  "123":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: inputs.DetonateFile
          operator: isEqualString
          right:
            value:
              simple: "Yes"
      label: "yes"
    id: "123"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "100"
      "yes":
      - "28"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: a325a9e7-7492-4dff-8d83-5f03e066010e
      iscommand: false
      name: Activate auto detonation?
      type: condition
      version: -1
    taskid: a325a9e7-7492-4dff-8d83-5f03e066010e
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 820,
          "y": -410
        }
      }
  "124":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: inputs.IsolationAfterHunting
          operator: isEqualString
          right:
            value:
              simple: "Yes"
      label: "yes"
    id: "124"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "15"
      "yes":
      - "104"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: bab744c7-9f34-4af7-8812-cbbb05405840
      iscommand: false
      name: Activate auto isolation after threat hunting?
      type: condition
      version: -1
    taskid: bab744c7-9f34-4af7-8812-cbbb05405840
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 460,
          "y": 5200
        }
      }
version: -1
view: |-
  {
    "linkLabelsPosition": {
      "116_112_yes": 0.53,
      "116_114_#default#": 0.32,
      "118_114_#default#": 0.83,
      "118_117_yes": 0.68,
      "123_100_#default#": 0.64,
      "123_28_yes": 0.56,
      "124_104_yes": 0.63,
      "19_115_Yes": 0.53,
      "19_41_No": 0.58,
      "36_123_yes": 0.53,
      "36_37_#default#": 0.64,
      "39_77_Yes": 0.49,
      "46_98_No": 0.51,
      "50_46_#default#": 0.66,
      "50_95_yes": 0.49,
      "51_45_False positive": 0.67,
      "51_50_Continue Investigation ": 0.58,
      "56_55_yes": 0.6,
      "56_66_#default#": 0.51,
      "71_12_#default#": 0.51,
      "79_21_#default#": 0.64
    },
    "paper": {
      "dimensions": {
        "height": 11395,
        "width": 2380,
        "x": -920,
        "y": -3500
      }
    }
  }
